PUBLIC_FIREBASE_API_KEY=AIzaSyCKr0np0eqZ5b6L-ikSiw1qYt5Sa870bLQ
PUBLIC_FIREBASE_AUTH_DOMAIN=control-skus.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=control-skus
PUBLIC_FIREBASE_STORAGE_BUCKET=control-skus.firebasestorage.app
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=566043789908
PUBLIC_FIREBASE_APP_ID=1:566043789908:web:493c284f8ca551faf77bc1
PUBLIC_FIREBASE_MEASUREMENT_ID=G-WF480CQNCS
